body {
    background-color: #F2F1EF;
}

header {
    text-align: center;
    font-size: 18px;
    background-color: black;
    color: white;
    float: left;
    display: block;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
}

/* Menu */

li {
    float: left;
    list-style-type: none;
    background-color: black;
}

    li a {
        display: block;
        color: white;
        background-color: black;
        text-align: center;
        text-decoration: none;
        padding: 15px 35px;
        margin: 10px;
        margin-top: 10px;
        font-size: 15px;
        overflow: hidden;
        --g: 6px; /* the gap */
        --b: 1px; /* border thickness*/
        --c: white; /* the color */


        padding: calc(var(--g) + var(--b));
        --_c: #0000 0 25%, var(--c) 0 50%;
        --_g1: repeating-linear-gradient(90deg,var(--_c)) repeat-x;
        --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
        background: var(--_g1) var(--_p, 25%) 0,var(--_g2) 0 var(--_p,125%), var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
        background-size: 200% var(--b),var(--b) 200%;
        cursor: pointer;
        filter: grayscale(50%);
        transition: .1s;
    }





        li a:hover {
            background-color: #413F3D;
            color: white;
            font-size: 16px;
            overflow: hidden;
            text-shadow: 1px 1px black;
            --_p: 75%;
            filter: grayscale(0%);
        }


ul {
    background-color: black;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}


#header_p {
    color: white;
    float: right;
    margin-right: 10px;
    border-left: black 1px solid;
    padding: 10px;
    font-size: 16px;
}

/* Menu End */

/* Main Start */

.box-2 box-3, h3, h5 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-between;
    padding-top: 10px;
    background-color: #F2F1EF;
    text-align: justify;
}



.box-1 {
    box-shadow: 0px 5px 9px 5px rgba(0,0,0,0.3);
    margin-left: 0px;
    width: 30%;
    padding-right: 10px;
    border: 1px black solid;
    padding-left:10px;
}



.box-2 {
    box-shadow: 0px 5px 9px 5px rgba(0,0,0,0.3);
    padding-left: 10px;
    
    font-size: 20px;
    background-color: white;
    width: 65%;
    border: 1px black solid;
    padding-right: 5px;
}

form{
    display: block;
    margin: 15px 0px;
    width: 95%;
    height:70%;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: inset 1px 1px 3px black;
    padding-left:10px;

}

input[type="text"], input[type="email"], textarea, select, button {
    display: block;
    margin: 15px 0px;
    width: 75%;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: inset 2px 2px 5px black;

}

textarea {
    height: 100px;
    padding: 5px 4px;
}

button {
    cursor: pointer;
}


iframe {
    width:100%;
}

footer {
    color: black;
    text-align: center;
    margin-left: 5px;
    margin-top: 5px;
}


@media(max-width: 960px) {

    #header_p {
        display: none;
    }
    .container {
        width: 100%;
        
    }

    .box-1, .box-2, form {
        width: 100%;
    }

     li a {
        border: 1px white solid;
    }

    li {
        float: left;
        width: 100%;
    }
}